 <div class="footer">
	 <div class="container" style="padding-bottom: 15px;">
	        <div class="row">
	        	<div class="col-12">
	                <h5 class="footer_title text-center">Grupo BTT de Manteigas</h5>
	            </div>
	        </div>
	        <div class="row ">
	        	<div class="col-12">
	                <p class="footer_description text-center">Um dos grupos mais antigos de Portugal.</p>
	                
	     		</div>
	        </div>
	        <div class="row">
	        	<div class="col-12">
		        	<address class="footer_description1 text-center">
		                    E-MAIL:    <a class="link_contacto" href="mailto:grupobttmanteigas@gmail.com">grupobttmanteigas@gmail.com</a><br>
		            </address>
	            </div>
	        </div>

	        <div class="row">
	        	<div class="col-12  text-center">
	        	 	<a href="https://www.facebook.com/grupobttdemanteigas" class="fa fa-facebook"></a>
	        	</div>
	        </div>
	        <hr class="separation_footer">
	        <div class="row">
	            <div class="col-md-12" style="margin-left: 15px; margin-top: 5px;">
	                <a>
	                    <p class="text-center footer_description" style="color: black"> &copy; 2021, Grupo de BTT de Manteigas </p>
	                </a>
	            </div>
	        </div>
	</div>
</div>