<div class="container-fluid rotas">
	<div class="row">
		<div class="col-12">
	        <a>
	            <h2 class="text-center title_pages">Contactos</h2>
	        </a>  
		</div>
	</div>
	<div class="container container_yellow">
		<div class="row">
		  <div class="col-xs-12 col-md-4">
		  		<%= image_tag ("call.png"), class:"contact" %>
		  		<div class="container-fluid content_right container_contactos">
		  			<div class="row">
		  				<div class="col-12 text-center">
		  					<p class="text_contactos" style="font-weight: bold;">António José Correia</p>
					  		<p class="text_contactos">966162086</p>
				  			<p class="text_contactos" style="font-weight: bold;margin-top: 40px;">Tiago Craveiro </p>
				  			<p class="text_contactos">925877117</p>
				  			<p class="text_contactos" style="font-weight: bold;margin-top: 40px;">Carlos Domingos </p>
				  			<p class="text_contactos">966561662</p>
		  				</div>
		  			</div>
		  			
		  		</div>
		  		
		  </div>
		  <div class="col-xs-12 col-md-4">
	  			<%= image_tag ("email.png"), class:"contact" %>
	  			<div class="container-fluid content_right container_contactos">
	  				<div class="row">
	  					<div class="col-12 text-center">
	  						<p class="text_contactos">grupobttmanteigas@gmail.com</p>
	  					</div>
	  				</div>
		  		</div>
		  </div>
		  <div class="col-xs-12 col-md-4">
	  			<%= image_tag ("location.png"), class:"contact" %>
	  			<div class="container-fluid content_right1 container_contactos">
	  				<div class="row">
	  					<div class="col-12 text-center">
			  				<p class="text_contactos">Fonte Santa</p>
			  				<p class="text_contactos">6260-013 Manteigas</p>
			  			</div>
			  		</div>
		  		</div>
		  </div>
		</div>
	</div>

	<div class="container map">
		<!-- google maps -->
	</div>

 </div>