<div class="container-fluid rotas">
	<div class="row">
		<div class="col-12">
	        <a>
	            <h2 class="text-center title_pages">Contactos</h2>
	        </a>  
		</div>
	</div>
	<div class="container container_yellow">
		<div class="row">
		  <div class="col-xs-12 col-md-4">
		  		<%= image_tag ("call.png"), class:"contact" %>
		  		<div class="container-fluid content_right container_contactos">
		  			<div class="row">
		  				<div class="col-12 text-center">
		  					<p class="text_contactos" style="font-weight: bold;">António José Correia</p>
					  		<p class="text_contactos">966162086</p>
				  			<p class="text_contactos" style="font-weight: bold;margin-top: 40px;">Tiago Craveiro </p>
				  			<p class="text_contactos">925877117</p>
				  			<p class="text_contactos" style="font-weight: bold;margin-top: 40px;">Carlos Domingos </p>
				  			<p class="text_contactos">966561662</p>
		  				</div>
		  			</div>
		  			
		  		</div>
		  		
		  </div>
		  <div class="col-xs-12 col-md-4">
	  			<%= image_tag ("email.png"), class:"contact" %>
	  			<div class="container-fluid content_right container_contactos">
	  				<div class="row">
	  					<div class="col-12 text-center">
	  						<p class="text_contactos">grupobttmanteigas@gmail.com</p>
	  					</div>
	  				</div>
		  		</div>
		  </div>
		  <div class="col-xs-12 col-md-4">
	  			<%= image_tag ("location.png"), class:"contact" %>
	  			<div class="container-fluid content_right1 container_contactos">
	  				<div class="row">
	  					<div class="col-12 text-center">
			  				<p class="text_contactos">Fonte Santa</p>
			  				<p class="text_contactos">6260-013 Manteigas</p>
			  			</div>
			  		</div>
		  		</div>
		  </div>
		</div>
	</div>

	<div class="container map">
		<!-- google maps -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.1929895931034!2d-7.546692860762652!3d40.38241515238744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3d275dd7e84f8d%3A0xcf7e9ab6f2367608!2sFonte%20Santa!5e0!3m2!1spt-PT!2spt!4v1618421479950!5m2!1spt-PT!2spt" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>

 </div>