<div class="container-fluid rotas">
	<div class="row">
		<div class="col-12">
	        <a>
	            <h2 class="text-center title_pages">Contactos</h2>
	        </a>  
		</div>
	</div>
	<div class="container container_yellow">
		<div class="d-flex bd-highlight">
		  <div class="p-2 flex-fill bd-highlight">Flex item</div>
		  <div class="p-2 flex-fill bd-highlight">Flex item</div>
		  <div class="p-2 flex-fill bd-highlight">Flex item</div>
		</div>
	</div>

	<div class="container map">
		<!-- google maps -->
	</div>

 </div>