<div class="container-fluid rotas">
	<div class="row">
		<div class="col-12">
	        <a>
	            <h2 class="text-center title_pages">Contactos</h2>
	        </a>  
		</div>
	</div>
	<div class="container container_yellow">
		<div class="row">
		  <div class="col-4">
		  		<%= image_tag ("call.png"), class:"call" %>
		  		<p>António José Correia</p>
		  		<p>966162086</p>
	  			<p>Tiago Craveiro </p>
	  			<p>925877117</p>
	  			<p>Carlos Domingos </p>
	  			<p>966561662</p>
		  </div>
		  <div class="col-4">
	  			<%= image_tag ("email.png"), class:"email" %>
	  			<p>grupobttmanteigas@gmail.com</p>
		  </div>
		  <div class="col-4">
	  			<%= image_tag ("location.png"), class:"location" %>
	  			<p>Fonte Santa</p>
	  			<p>6260-013 Manteigas</p>
		  </div>
		</div>
	</div>

	<div class="container map">
		<!-- google maps -->
	</div>

 </div>