<div class="container-fluid rotas" style="padding-bottom: 90px;">
	<div class="row">
		<div class="col-12">
	        <a>
	            <h2 class="text-center title_pages">Órgãos Sociais</h2>
	        </a>  
		</div>
	</div>

	<div class="container containers_os" style="margin-top: 60px;">
    	<%= image_tag ("fita.png"), class:"top_fita" %>
		<div class="row transform_os">
			<div class="col-12">
		        <a>
		            <h2 class="title_os">Assembleia Geral</h2>
		        </a>  
			</div>
		</div>

		<div class="row transform_os1">
			<div class="col-12">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">David Matos Saraiva</p>
				  		<p class="titulos_os">Presidente</p>
			  			<p class="nrSocio_os">Sócio nº14 </p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Sérgio Daniel Paiva Marcelo</p>
				  		<p class="titulos_os">Vice-Presidente</p>
			  			<p class="nrSocio_os">Sócio nº26</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Joaquim Direito Craveiro</p>
				  		<p class="titulos_os">Secretário</p>
			  			<p class="nrSocio_os">Sócio nº32</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Paulo Manuel Santos Costa</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº81</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Luís Bruno Santos Tavares</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº3</p>
	  				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container containers_os">
    	<%= image_tag ("fita.png"), class:"top_fita" %>
		<div class="row transform_os">
			<div class="col-12">
		        <a>
		            <h2 class="title_os">Direção</h2>
		        </a>  
			</div>
		</div>

		<div class="row transform_os1">
			<div class="col-12">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">António José Gaspar Correia</p>
				  		<p class="titulos_os">Presidente</p>
			  			<p class="nrSocio_os">Sócio nº9</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Tiago Manuel Abrantes Cleto Craveiro</p>
				  		<p class="titulos_os">Secretário</p>
			  			<p class="nrSocio_os">Sócio nº10</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Carlos Manuel Cardoso Domingos</p>
				  		<p class="titulos_os">Tesoureiro</p>
			  			<p class="nrSocio_os">Sócio nº11</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Nuno Miguel Lopes Ferrão</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº12</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">António José Paiva Rasteiro</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº15</p>
	  				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container containers_os">
    	<%= image_tag ("fita.png"), class:"top_fita" %>
		<div class="row transform_os">
			<div class="col-12">
		        <a>
		            <h2 class="title_os">Conselho Fiscal</h2>
		        </a>  
			</div>
		</div>

		<div class="row transform_os1">
			<div class="col-12">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Filipe Carvalho Neves</p>
				  		<p class="titulos_os">Presidente</p>
			  			<p class="nrSocio_os">Sócio nº16</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Maria do Carmo Lopes Ferrão</p>
				  		<p class="titulos_os">Vice-Presidente</p>
			  			<p class="nrSocio_os">Sócio nº68</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Carlos dos Santos Rabaça</p>
				  		<p class="titulos_os">Secretário</p>
			  			<p class="nrSocio_os">Sócio nº17</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">Januário Carvalho Saraiva</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº8</p>
	  				</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 text-center">
	  					<p class="nomes_os">António Manuel Santos Félix</p>
				  		<p class="titulos_os">Suplente</p>
			  			<p class="nrSocio_os">Sócio nº19</p>
	  				</div>
				</div>
			</div>
		</div>
	</div>
</div>
