<div class="container-fluid rotas">
	<div class="container info_rotas">
		<div class="row">
			<div class="col-12">
		        <a>
		            <h2 class="text-center title_rotas">Rota da Lapa</h2>
		        </a>  
			</div>
		</div>

		<div id="wrapper">
    		<div id="left">
    			<div class="row">
    				<div class="col-12"></div>
    			</div>
    		</div>
    		<div id="right">
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Distância: </b> 7,6 kms </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Tempo: </b> 1h </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Desnível acumulado: </b> 160m  </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Dificuldade: </b> Fácil  </h1>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-1"></div>
			<div class="col-10">
		        <a>
		            <p class="text_rotas">Percurso circular de dificuldade fácil que segue em direção a Manteigas pelo caminho da Lapa e regressando ao Centro de BTT.</p>
		        </a>  
			</div>
    		<div class="col-1"></div>
		</div>
	</div>

	<div class="container map">
		<iframe class="alltrails" src="https://www.alltrails.com/widget/map/rota-da-lapa?u=m" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="AllTrails: Trail Guides and Maps for Hiking, Camping, and Running"></iframe>
	</div>

 </div>