<div class="container-fluid rotas">
	<div class="container info_rotas">
		<div class="row">
			<div class="col-12">
		        <a>
		            <h2 class="text-center title_rotas">Rota do Mondego</h2>
		        </a>  
			</div>
		</div>

		<div id="wrapper">
    		<div id="left">
    			<div class="row">
    				<div class="col-12">
                        <%= image_tag ("rotas/mondego.png"), class:"image_rota" %></div>
    			</div>
    		</div>
    		<div id="right">
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Distância: </b> 69,6 kms </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Tempo: </b> 6h00 a 8h00  </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Desnível acumulado: </b> 1771m  </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Dificuldade: </b> Muito Difícil  </h1>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-1"></div>
			<div class="col-10">
		        <a>
		            <p class="text_rotas">Percurso circular, percorrendo o Vale do Mondego. Inicio em subida por asfalto até à Cruz das Jogas. Antes de chegar à Quinta da Taberna aprecie a imensidão do Vale do Mondego, com destaque para Senhora D'Assedasse. Faça uma pausa na Quinta da Taberna e refresque-se no Mondego. Antes de chegar a Videmonte pode ainda ver as sepulturas rupestres. Recarregue energias em Trinta e percorra o alto de Famalicão antes de chegar a Vale de Amoreira. Regresse a Manteigas pela EN 232.</p>
		        </a>  
			</div>
    		<div class="col-1"></div>
		</div>
	</div>

	<div class="container map">
		 <iframe class="alltrails" src="https://www.alltrails.com/widget/map/rota-do-mondego--2?u=m" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="AllTrails: Trail Guides and Maps for Hiking, Camping, and Running"></iframe>
	</div>

 </div>