<div class="container-fluid rotas">
	<div class="container info_rotas">
		<div class="row">
			<div class="col-12">
		        <a>
		            <h2 class="text-center title_rotas">Rota das Penhas Douradas</h2>
		        </a>  
			</div>
		</div>

		<div id="wrapper">
    		<div id="left">
    			<div class="row">
    				<div class="col-12"></div>
    			</div>
    		</div>
    		<div id="right">
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Distância: </b> 65,8 kms </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Tempo: </b> 6h00 a 8h00  </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Desnível acumulado: </b> 2050m   </h1>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-12">
    					<h1 class="types_rotas"><b style="padding-right: 5px;">Dificuldade: </b> Muito Difícil  </h1>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-1"></div>
			<div class="col-10">
		        <a>
		            <p class="text_rotas">Percurso circular, muito duro, mas uma aventura única. Na primeira parte, antes de chegar à Azinha, vai divertir-se no singletrack da Azinheira antes de chegar a Vale de Amoreira. Ao chegar-se à Cruz da Jogadas, desce-se para o Covão da Ponte, por onde passa o Rio Mondego, subindo-se até à sua nascente, o Mondeguinho, e Penhas Douradas. A descida final até à vila de Manteigas faz-se pela Carvalheira. Aconselhamos a providenciarem água e alimentação adequada para uma aventura destas mais dura, para que seja feita em autonomia pela escassez de pontos de apoio.</p>
		        </a>  
			</div>
    		<div class="col-1"></div>
		</div>
	</div>

	<div class="container map">
		<iframe class="alltrails" src="https://www.alltrails.com/widget/map/rota-das-penhas-douradas?u=m" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="AllTrails: Trail Guides and Maps for Hiking, Camping, and Running"></iframe>
	</div>

 </div>