// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html,body {
    margin:0;
    padding:0;
    overflow-x: hidden; 
}

#first_header{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.8);

	padding: 15px;

}

.rotas{
	background: linear-gradient(180deg, #000000 0%, rgba(20, 18, 18, 0.40) 100%), 
				linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
				linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.62) 100%);
	padding-top: 50px;
}

.percursos{
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.8);
    */

    background: linear-gradient(180deg, #000000 0%, rgba(20, 18, 18, 0.40) 100%), 
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.62) 100%);
    padding-bottom: 50px;
    padding-top: 150px;
}

.percursos_block{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.85);
    padding-bottom: 50px;
}
.patrocinios{
    padding-top:200px;
}

.foto_patrocinios{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.foto_patrocinios1{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.patrocinios_nome{

  text-transform: uppercase;

    font-family: Cairo;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}


.image_show{
    position: relative;
    margin-top: 50px;
    width: 75%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.image_percursos{
  width: 100%;
  height: auto;
    margin-left: auto;
    margin-right: auto;
}
.over_image{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(20, 18, 18, 0.29) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.62) 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  line-height: 100%;
  
}

.image_show:hover .over_image {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.image_rota{
  max-height: 350px;
  max-width: 350px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text_info_rotas {
   /* border: 1px solid green;*/
    font-family: Farro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
      width: 100%;
      height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 50px;

}

.info_rotas{
    position:relative;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.85);
	padding-bottom: 30px;
}

.info_rotas:after {
    content:'';
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 50px rgba(254, 223, 70, 0.8);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}

.title_rotas{
	font-family: Farro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 80px;
	text-align: center;

	padding-top: 20px;
	padding-bottom: 40px;

	color: #000000;
}

.text_rotas{
	font-family: Cairo;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	align-items: center;
	text-align: justify;

	color: #000000;
}

.types_rotas{
	font-family: Cairo;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 50px;
	display: flex;
	align-items: center;

	color: #000000;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
  
#left {
    margin-left: 70px;
    /*border: 2px solid white;*/
    flex: 0 0 45%;
}

#right {
    /*border: 2px solid white;*/
    flex: 1;
    
}

.map{
	padding-top: 100px;
	padding-bottom: 80px;
}

.slogan{
    font-family: Cairo;
	font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
	text-align: center;
	color: #000000;
}

.logo{
	width: 200px;
	height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.background{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    
    background-size: 50%;
    background-position: left, right;

    -webkit-transition:background-image 2.0s ease-in-out;
      -moz-transition:background-image  2.0s ease-in-out;
      -o-transition:background-image  2.0s ease-in-out;
      transition:background-image  2.0s ease-in-out;
      -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    -webkit-transform-style: preserve-3d;
}

.background:after {
    content:'';
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 50px rgba(254, 223, 70, 0.8);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}


.first_image{
	background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;

}

.home_icon{
	max-height: 30px;
	width: auto;
	margin-bottom: 5px;
	padding-left: 10px;
}

.navbar {
	background: black;
}

.navbar .nav-item .nav-link {
	color: white;
	font-family: Farro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
}

.nav-item{
	padding-left: 10px;
}

.dropdown-divider{
	border: 1px solid white;
}

.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #000000;
    min-width: 250px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;

	font-family: Farro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}
  
.dropdown-content a:hover {background-color: white; color: black;}
.dropdown:hover .dropdown-content {display: block;}



.home_title{
    font-family: Cairo;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: black;
	padding-top: 40px;
	padding-left: 20px;
  text-transform: uppercase;
}


.title_pages{
	font-family: Farro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 80px;
	text-align: center;

	padding-top: 20px;
	padding-bottom: 40px;

	color: #FFFFFF;
    
    text-transform: uppercase;
}

.container_yellow{
    position:relative;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
				linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.85);
	padding-bottom: 50px;
}

.container_yellow:after {
    content:'';
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-top: solid 50px rgba(254, 223, 70, 0.8);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}


.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), #FEDF46;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 150px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 80px;
    height: 80px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
}


.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

/*.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}*/

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    /*content: "";
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;*/

    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;


    font-family: Farro;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 50px;

    color: white;
}

.main-timeline .year1 {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;


    font-family: Farro;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 50px;

    color: white;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;

}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.6);
    margin-bottom: 0;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    text-align: justify;

    color: #000000;
    padding: 20px;

    border-radius: 25px;
    margin-right: 30px;
    margin-left: 30px;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        display: none;
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        display: none;
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }

    .main-timeline .year1 {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#left_ano {
    flex: 0 0 50%;
}

#left_text {
    flex: 0 0 50%;
}

#right_text1::before {
    background-image: url(roda.png);
    border-right: 3px solid #FEDF46;
    content: "";
    height: 1200px;
    position: absolute;
    right: calc((100% - 3px) / 2); // or use '50%' for better compatibility, but less exactness
    overflow-y: visible !important;
}
.ano_style{
    font-family: Farro;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    line-height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;

    justify-content: center;
}


#right_text {
    flex: 1;    
}

#right_text1 {
    flex: 1;    
}

#right_ano {
    flex: 1;    
}

.text_container{
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), #FEDF46;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;

    color: #000000;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 500px;
}

.top_fita{
    display: block;
    margin-left: auto;
    margin-right: auto;

    transform: translateX(-50%);
    width: 32%;
    height: auto;
    transform: translateY(-70%);
}

.transform_os{
    transform: translateY(-40%);
}

.transform_os1{
    transform: translateY(-10%);
}

.containers_os{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%) , 
                linear-gradient(180deg, #FEDF46 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 223, 70, 0.85);
    margin-bottom: 180px;
}

.title_os{
    /*font-family: Cairo;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 130px;
    margin-left: 20px;
    color: #000000;
    text-transform: uppercase;*/

    font-family: Chakra Petch;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 130px;
    /* identical to box height */


    margin-left: 20px;
    color: #000000;
    text-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
}

.nomes_os{
    font-family: Cairo;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}

.titulos_os{
    font-family: Cairo;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}

.nrSocio_os{
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 10px;
    text-align: center;

    color: #000000;
    padding-bottom: 40px;
}



.contact{
    margin-top: 20px;
    max-height: 100px;
    max-width: auto;
    mix-blend-mode: darken;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content_right{
    border-right: 3px solid #000000;   
    height: 300px;
}

.content_right2{
    border-right: 3px solid #000000;   
    height: 300px;
}

.content_right1{
    height: 300px;
}

.container_contactos{
    /*border: 3px solid red;*/
    padding-top: 30px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    justify-content: center; /* Horizontal center alignment */
}

.text_contactos{
    font-family: Farro;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
}

address .text_contactos {
    text-decoration: none;
}

address .text_contactos:hover {
    color:white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url("vale-glaciar-do-zezere-65.png");
    padding-top: 10px;
}

.footer_title{
    font-family: Cairo;
	font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.footer_description{
    font-family: Cairo;
	font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
}

.footer_description1{
    font-family: Cairo;
	font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
}

.separation_footer{
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
}

.fa {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .link_contacto:link{
    color: black;
}


@media screen and (max-width: 1050px) {
    .slogan{
        font-size: 26px;
        line-height: 70px;
    }

    .text_contactos{
        font-size: 18px;
    }
}

@media screen and (max-width: 1030px) {
    .slogan{
        line-height: 60px;
    }
    .logo{
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 992px) {
    .slogan{
        line-height: 60px;
    }
    .logo{
        width: 180px;
        height: 180px;
    }

    .patrocinios{
        padding-top:150px;
    }

    .text_contactos{
        line-height: 19px;
        color: #000000;
    }


    .content_right2{
        border-right: none;
    }

    .content_right{
        border-right: none;
    }

    .top_fita{
        width: 40%;
    }

    .title_os{
        font-size: 60px;
        line-height: 120px;
    }

    .nomes_os{
        font-size: 30px;
        line-height: 35px;
    }

    .titulos_os{
        font-size: 25px;
        line-height: 38px;
    }

    .nrSocio_os{
        font-size: 18px;
        line-height: 10px;
        padding-bottom: 30px;
    }

    .containers_os{
        margin-bottom: 150px;
    }

    .image_rota{
      height: 250px;
      width: 250px;
    }

    .types_rotas{
        font-size: 22px;
        line-height: 45px;
    }


    .text_rotas{
        font-size: 19px;
        line-height: 28px;
    }
}

@media screen and (max-width: 890px) {
    .slogan{
        font-size: 24px;
        line-height: 55px;
    }
    .logo{
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width: 767px) {
    .slogan{
        font-size: 24px;
        line-height: 55px;
    }
    .logo{
        width: 160px;
        height: 160px;
    }
    .logo1{
        display: none;
    }
    .background:after {
        border-top: solid 40px rgba(254, 223, 70, 0.8);
        border-left: solid 30px transparent;
        border-right: solid 30px transparent;
    }

    .percursos{
        padding-top: 100px;
    }

    .home_title{
        font-size: 30px;
    }

    .foto_patrocinios{
        margin-top: 30px;
    }

    .footer_title{
        font-size: 30px;
    }

    .footer_description{
        font-size: 18px;
    }

    .footer_description1{
        font-size: 13px;
    }

    .content_right{
        border-right: none;   
        height: 300px;
        border-bottom: 3px solid #000000;
        width: 350px;
    }

    .content_right2{
        border-right: none;
        height: 100px;
        border-bottom: 3px solid #000000;
        width: 350px;
        padding-top: 50px;
    }

    .content_right1{
        height: 100px;
    }


    .container_contactos{

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
    }

    .contact{
        margin-top: 40px;
    }

    .container_yellow:after {
        border-top: solid 35px rgba(254, 223, 70, 0.8);
        border-left: solid 35px transparent;
        border-right: solid 35px transparent;
    }

    .top_fita{
        width: 55%;
    }

    .title_os{
        font-size: 50px;
        padding-bottom: 30px;

        text-align: center;

        margin-left: none;
    }

    .nomes_os{
        font-size: 27px;
    }

    .titulos_os{
        font-size: 23px;
    }

    .nrSocio_os{
        font-size: 17px;
        line-height: 10px;
        padding-bottom: 30px;
    }

    .transform_os{
        transform: translateY(-60%);
    }

    #wrapper { 
        flex-wrap: wrap;
    }

    #left { 
        flex-basis: 100%;
        margin-left: 0px; 
        margin-bottom: 30px;
    }

    .image_rota{
      height: 230px;
      width: 230px;
    }

    .types_rotas{
        justify-content: center;
        font-size: 22px;
        line-height: 1px;
        color: white;
        background: linear-gradient(180deg, #000000 0%, rgba(20, 18, 18, 0.40) 100%), 
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), 
                linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.62) 100%);
        padding: 20px;
    }

    .text_rotas{
        font-size: 19px;
        line-height: 28px;
    }

    .title_rotas{
        font-size: 45px;
        line-height: 80px;

        padding-top: 10px;
        padding-bottom: 10px;

        color: #000000;
    }

    .info_rotas:after {
        border-top: solid 40px rgba(254, 223, 70, 0.8);
        border-left: solid 35px transparent;
        border-right: solid 35px transparent;
    }
}

@media screen and (max-width: 630px) {
    .slogan{
        font-size: 22px;
        line-height: 52px;
    }
    .logo{
        width: 140px;
        height: 140px;
    }

    .title_pages{
        font-size: 45px;
    }
}


@media screen and (max-width: 530px) {
    .slogan{
        font-size: 20px;
        line-height: 45px;
    }
    .logo{
        width: 120px;
        height: 120px;
    }

    .background:after {
        border-top: solid 35px rgba(254, 223, 70, 0.8);
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }

    .footer_title{
        font-size: 27px;
    }

    .footer_description{
        font-size: 16px;
    }

    .footer_description1{
        font-size: 13px;
    }

    .top_fita{
        width: 65%;
    }

    .title_os{
        font-size: 45px;
        padding-bottom: 30px;
    }

    .nomes_os{
        font-size: 25px;
    }

    .titulos_os{
        font-size: 22px;
    }

    .nrSocio_os{
        font-size: 16px;
        padding-bottom: 30px;
    }

    .transform_os{
        transform: translateY(-50%);
    }

    .image_rota{
      height: 200px;
      width: 200px;
    }

    .types_rotas{
        font-size: 20px;
        padding: 20px;
    }

    .text_rotas{
        font-size: 18px;
        line-height: 26px;
    }

    .title_rotas{
        font-size: 40px;
        line-height: 75px;

        padding-top: 10px;
        padding-bottom: 10px;

        color: #000000;
    }

    .info_rotas:after {
        border-top: solid 35px rgba(254, 223, 70, 0.8);
        border-left: solid 30px transparent;
        border-right: solid 30px transparent;
    }

}

@media screen and (max-width: 470px) {
    .slogan{
        font-size: 18px;
        line-height: 42px;
    }
    .logo{
        width: 120px;
        height: 120px;
    }

    .percursos{
        padding-top: 70px;
    }

    .home_title{
        font-size: 25px;
    }

    .patrocinios_nome{
        font-size: 28px;
        line-height: 60px;
    }

    .contact{
        margin-top: 15px;
        max-height: 80px;
    }

    .title_pages{
        font-size: 40px;
        padding-top: 10px;
    }

    .container_yellow:after {
        border-top: solid 30px rgba(254, 223, 70, 0.8);
        border-left: solid 28px transparent;
        border-right: solid 28px transparent;
    }

    .top_fita{
        width: 72%;
    }

    .title_os{
        font-size: 40px;
        padding-bottom: 30px;
    }

    .nomes_os{
        font-size: 24px;
    }

    .titulos_os{
        font-size: 20px;
    }

    .nrSocio_os{
        font-size: 16px;
        line-height: 10px;
        padding-bottom: 30px;
    }

    .transform_os{
        transform: translateY(-50%);
    }

    .transform_os1{
        transform: translateY(-15%);
    }

    .image_rota{
      height: 200px;
      width: 200px;
    }

    .types_rotas{
        font-size: 20px;
        padding: 20px;
    }

    .text_rotas{
        font-size: 16px;
        line-height: 26px;
    }

    .title_rotas{
        font-size: 35px;
        line-height: 50px;

        padding-top: 20px;

        color: #000000;
    }

    .info_rotas:after {
        border-top: solid 30px rgba(254, 223, 70, 0.8);
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }
}


@media screen and (max-width: 400px){
    .content_right{
        width: 280px;
    }

    .content_right2{
        width: 280px;
    }

    .text_contactos{
        line-height: 15px;
        font-size: 17px;
    }

    .top_fita{
        width: 75%;
    }

    .title_os{
        font-size: 35px;
        padding-bottom: 30px;
    }

    .nomes_os{
        font-size: 22px;
    }

    .titulos_os{
        font-size: 19px;
    }

    .nrSocio_os{
        font-size: 14px;
    }

    .transform_os{
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 380px) {
    .slogan{
        font-size: 16px;
        line-height: 35px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }

    .background:after {
        border-top: solid 25px rgba(254, 223, 70, 0.8);
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }

    .patrocinios_nome{
        font-size: 25px;
    }

    .patrocinios{
        padding-top:100px;
    }

    .footer_title{
        font-size: 24px;
    }

    .footer_description{
        font-size: 15px;
    }

    .footer_description1{
        font-size: 13px;
    }

    .fa {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
      }

    .top_fita{
        width: 80%;
    }

    .title_os{
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 110px;
    }

    .nomes_os{
        font-size: 22px;
        line-height: 20px;
    }

    .titulos_os{
        font-size: 19px;
    }

    .nrSocio_os{
        font-size: 14px;
    }

    .transform_os{
        transform: translateY(-30%);
    }


}

@media screen and (max-width: 344px) {
    .slogan{
        font-size: 14px;
        line-height: 40px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }

    .footer_title{
        font-size: 23px;
    }

    .footer_description{
        font-size: 14px;
    }

    .footer_description1{
        font-size: 13px;
    }

    .content_right{
        width: 220px;
    }

    .content_right2{
        width: 220px;
    }

    .text_contactos{
        font-size: 15px;
    }

    .contact{
        margin-top: 12px;
        max-height: 70px;
    }

    .title_pages{
        font-size: 37px;
        padding-top: 1px;
    }

    .container_yellow:after {
        border-top: solid 25px rgba(254, 223, 70, 0.8);
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }

    .top_fita{
        width: 90%;
    }

    .title_os{
        font-size: 27px;
        line-height: 40px;
        padding-bottom: 110px;
    }

    .nomes_os{
        font-size: 21px;
        line-height: 20px;
    }

    .titulos_os{
        font-size: 18px;
    }

    .nrSocio_os{
        font-size: 14px;
    }

    .transform_os{
        transform: translateY(-30%);
    }

    .image_rota{
      height: 180px;
      width: 180px;
    }

    .types_rotas{
        font-size: 18px;
        padding: 20px;
    }

    .text_rotas{
        font-size: 16px;
        line-height: 23px;
    }

    .title_rotas{
        font-size: 30px;
        line-height: 45px;

        padding-top: 20px;

        color: #000000;
    }

    .info_rotas:after {
        border-top: solid 30px rgba(254, 223, 70, 0.8);
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }
}

@media screen and (max-width: 305px) {
    .slogan{
        font-size: 12px;
        line-height: 25px;
    }
    .logo{
        width: 80px;
        height: 80px;
    }

    .patrocinios_nome{
        font-size: 22px;
    }

    .home_title{
        font-size: 20px;
    }

    .footer_title{
        font-size: 22px;
    }

    .footer_description{
        font-size: 12px;
    }

    .footer_description1{
        font-size: 11px;
    }

    .text_contactos{
        line-height: 10px;
    }

    .title_pages{
        font-size: 34px;
    }

    .types_rotas{
        font-size: 18px;
        line-height: 20px;
    }

}



