// Place all the styles related to the produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.produto{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.produto_nome{
	text-align: center;
	font-family: Cairo;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	color: #FFFFFF;
}

.product{
	padding-bottom: 50px;
}

.title_loja{
	font-family: Farro;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 80px;
	text-align: center;

	padding-top: 20px;
	padding-bottom: 40px;

	color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
	.produto{
	    height: 350px;
	}
}

@media screen and (max-width: 992px) {
	.produto{
	    height: 280px;
	}

	.title_loja{
		padding-top: 1px;
	}
}

@media screen and (max-width: 400px) {
	.produto{
	    height: 200px;
	}

	.produto_nome{
		font-size: 25px;
	}

	.product{
		padding-bottom: 30px;
	}

	.title_loja{
		font-size: 40px;
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 290px) {
	.produto{
	    height: 170px;
	}

	.produto_nome{
		font-size: 22px;
	}

	.title_loja{
		font-size: 35px;
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 250px) {
	.produto{
	    height: 130px;
	}

	.produto_nome{
		font-size: 20px;
	}
}

